<a href="https://colab.research.google.com/github/qcnieles-hub/NIELES_CPE009A-OOP/blob/main/Hands_on_Activity_1_1_Literals%2C_Operators%2C_and_Variables_ipyn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Laboratory Activity No.1** (Literals, Operators, and Variables)

**Name:** Cenndy M. Nieles

**Section:** CPE12S2

**Date Performed:** January 08, 2026

Assigning variables of different data types of Phython

1.) In an empty cell, declare a variable value and assigned it  and assign it the value of 5 then display its value using print().

In [ ]:
value = 5
print(value)

5

2.) Create a new cell and type the command: type(value) then run the cell. The output should be like the image  below.

In [ ]:
type(value)

int

3.) In a new cell, use the same variable value and assign it the value of 5.0 then print the value.

In [ ]:
type(0.5)

float

4.) Repeat step 2.
Note: You may choose to decide how you execute the code in the cells for the next tasks in the procedure.

5.) Repeat these steps for the following values:

a. 2+3j

b. ‚ÄòHello World‚Äô

c. ‚ÄúHello World‚Äù

d. True

e. False

f. [1,2,3,4,5]

g. (1,2,3,4,5)

h. { ‚Äòname‚Äô: ‚ÄòYour_name‚Äô }

i. None

a. 2+3j

In [ ]:
value = 2
value2 =3j
(value + value2)

(2+3j)

b. 'Hello World'

In [ ]:
value = ("Hello")
value2 = ("World")
(value + " " + value2)

'Hello World'

c. "Hello World"

In [ ]:
value = "Hello"
value2 = "World"
(value + " " + value2)

'Hello World'

d. True

In [ ]:
value = True
print(value)
type(value)

True

bool

e. False

In [ ]:
value = False
print(value)
type(value)

False

bool

f. [1,2,3,4,5]

In [ ]:
value = [1, 2, 3, 4, 5]
print(value)
type(value)

[1, 2, 3, 4, 5]

list

g. (1,2,3,4,5)

In [ ]:
value = (1, 2, 3, 4, 5)
print(value)
type(value)

(1, 2, 3, 4, 5)

tuple

h. { ‚Äòname‚Äô: ‚ÄòYour_name‚Äô }

In [ ]:
value = {'name': 'Cenndy M. Nieles'}
print(value['name'])

Cenndy M. Nieles

i. None

In [2]:
x = None

if x is None:
    print("x is None")

x is None

6.) Re-assign the value variable to be equal to 5.

In [ ]:
value = 5
print(value)

7. Declare a new variable named value2 to be equal to -6.

In [ ]:
value = 5
value2= -6
print(value + value2)

Performing Operations with Python

In [ ]:
value, value2 = -5.0, 6
print(value + value2)

1. Using value and value2. Type the command: print(value+value2)

In [ ]:
value, value2 = 5.0, 6
print(value + value2)

b. value, value2 = -5, 6.1

In [ ]:
value, value2 = -5, 6.1
print(value + value2)

c. value, value2 = ‚ÄúHello‚Äù, ‚Äòworld‚Äô

In [ ]:
value, value2 = "Hello", "world"
print(value + " " + value2)

d. value, value2 = [1,2,3], [4,5,6]

In [ ]:
value, value2 = [1, 2, 3], [4, 5, 6]
print(value + value2)

e. value, value2 = (1,2,3), (4,5,6)

In [ ]:
value, value2 = (1, 2, 3), (4, 5, 6)
print(value + value2)

f. value, value2 = {"name":"Royce"}, {"age":2}

In [ ]:
value, value2 = {"name": "Royce"}, {"age": 2}

print(value)   # {'name': 'Royce'}
print(value2)  # {'age': 2}

3. Using value, value2 = 30, 4. Type the commands:

a. print(value*value2)

In [ ]:

value = 30
value2 = 4

print(value * value2)

 b. print(value2**2)

In [ ]:
value2 = 4
print(value2 ** 2)

 c. print(value2**3

In [ ]:
value2 = 4
print(value2 ** 3)

d. print(value*value2+value2**2+1)

In [ ]:
value2 = 4
print(value2 ** 2+1)

e. print(value/value2)

In [ ]:
value = 30
value2 = 4

print(value / value2)

f. print(value%value2)

In [ ]:
value = 30
value2 = 4
print(value % value2)

Assigning Input Data to a Variable

Finding a person‚Äôs BMI (metric)

1. Declare a new variable named name and assign it the value input(‚ÄúEnter your name‚Äù)

In [ ]:
value = {'name': 'Cenndy M. Nieles'}
name = value['name']
print(name)

Cenndy M. Nieles

2. Create another variable named weight and assign it the value input(‚ÄúEnter your weight(kg): ‚Äú)

In [ ]:
value = {'weight': '50 kg'}
weight = value['weight']
print(weight)

50 kg

3. Create another variable named height and assign it the value input(‚ÄúEnter your meters(m): ‚Äú

In [ ]:
value = {'height': '1.45 meters'}
height = value['height']
print(height)

1.45 meters

4.
Declare another variable called bmi and assign it the formula ùëèùëöùëñ = ùë§ùëíùëñùëî‚Ñéùë°
‚Ñéùëíùëñùëî‚Ñéùë°2

In [ ]:
weight = 50
height = 1.45

bmi = weight / (height ** 2)

print("Your BMI is:", round(bmi, 2))

Your BMI is: 23.78

5. Address the errors displayed step#4. You can accomplish this by converting the String input to another data
type. An example would be:
weight = input(‚ÄúEnter your weight(kg)‚Äù)
weight = float(weight)
Or simply weight = float(input(‚ÄúEnter your weight(kg): ‚Äú))
There are many functions available that can convert one data type to another. Some of which are the following:
int(), float(), str()
Other functions which maybe used in the later lab activities are: complex(real, imaginary), list(), tuple(), set(),
dict(), ord(), bin(), hex(),

In [ ]:
print("Weight:", weight)
print("Height:", height)
print("BMI:", round(bmi, 4))

Weight: 50.0
Height: 1.45
BMI: 23.7812

6. Print the persons‚Äôs name, weight, height, and bmi
Name: John Ray
Weight: 60
Height: 1.6764
BMI = 21.3499
Guide: 5.5 feet ~ 1.6764 m

In [ ]:
print("Name:", "John Ray")
print("Weight:", 60)
print("Height:", 1.6764)
print("BMI:", 21.3499)

Name: John Ray
Weight: 60
Height: 1.6764
BMI: 21.3499

Receiving Input Data using Python

In [9]:
name = input("Cenndy M, Nieles: ")
print("Hello,", name)

Cenndy M, Nieles: hello
Hello, hello

In [14]:
name = input("Cenndy:")
print(name)

Cenndy:cenndy
cenndy

Tasks
1. Write the Python equivalent code of the following C code:

In [15]:
# Triangle Area Calculator in Python

# Ask the user for input
base = float(input("Enter the base of the triangle: "))
height = float(input("Enter the height of the triangle: "))

# Compute the area
area = 0.5 * base * height

# Display the result
print("The area of the triangle is", area)

Enter the base of the triangle: 1
Enter the height of the triangle: 3
The area of the triangle is 1.5

2. Write a program that would convert Celsius to Fahrenheit given the formula: F = (C √ó 9/5) + 32  Example of conversion:
0¬∞C = 32 ¬∞F
-20¬∞C = -4 ¬∞F

In [16]:
# Celsius to Fahrenheit Converter

# Ask the user for Celsius input
celsius = float(input("Enter temperature in Celsius: "))

# Apply the conversion formula
fahrenheit = (celsius * 9/5) + 32

# Display the result
print(celsius, "¬∞C =", fahrenheit, "¬∞F")

Enter temperature in Celsius: 0
0.0 ¬∞C = 32.0 ¬∞F

3. Write a program that can determine the distance between two points given the coordinates using the  formula:
ÔøΩÔøΩ = ‚àö(ÔøΩÔøΩÔøΩÔøΩ ‚àí ÔøΩÔøΩÔøΩÔøΩ)ÔøΩÔøΩ + (ÔøΩÔøΩÔøΩÔøΩ ‚àí ÔøΩÔøΩÔøΩÔøΩ)ÔøΩÔøΩ
Hint/Rule: No library or package is needed to implement this equation.  
Example: x2, y2 = -3, 3 and x1, y1 = 2, 2 d = 5.099019514

In [17]:
# Distance between two points (no library needed)

# Input coordinates
x1 = float(input("Enter x1: "))
y1 = float(input("Enter y1: "))
x2 = float(input("Enter x2: "))
y2 = float(input("Enter y2: "))

# Apply the distance formula
distance = ((x2 - x1)**2 + (y2 - y1)**2) ** 0.5

# Display the result
print("The distance between the points is:", distance)

Enter x1: 2
Enter y1: 2
Enter x2: -3
Enter y2: 3
The distance between the points is: 5.0990195135927845