<a href="https://colab.research.google.com/github/qcnieles-hub/NIELES_CPE009A-OOP/blob/main/Literals%2C_Operators%2C_and_Variables_ipyn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Laboratory Activity No.1** (Literals, Operators, and Variables)

**Name:** Cenndy M. Nieles

**Section:** CPE12S2

**Date Performed:** January 08, 2026

Assigning variables of different data types of Phython

1.) In an empty cell, declare a variable value and assigned it  and assign it the value of 5 then display its value using print().

In [ ]:
value = 5
print(value)

5

2.) Create a new cell and type the command: type(value) then run the cell. The output should be like the image  below.

In [ ]:
type(value)

int

3.) In a new cell, use the same variable value and assign it the value of 5.0 then print the value.

In [ ]:
type(0.5)

float

4.) Repeat step 2.
Note: You may choose to decide how you execute the code in the cells for the next tasks in the procedure.

5.) Repeat these steps for the following values:

a. 2+3j

b. ‘Hello World’

c. “Hello World”

d. True

e. False

f. [1,2,3,4,5]

g. (1,2,3,4,5)

h. { ‘name’: ‘Your_name’ }

i. None

a. 2+3j

In [ ]:
value = 2
value2 =3j
(value + value2)

(2+3j)

b. 'Hello World'

In [ ]:
value = ("Hello")
value2 = ("World")
(value + " " + value2)

'Hello World'

c. "Hello World"

In [ ]:
value = "Hello"
value2 = "World"
(value + " " + value2)

'Hello World'

d. True

In [ ]:
value = True
print(value)
type(value)

True

bool

e. False

In [ ]:
value = False
print(value)
type(value)

False

bool

f. [1,2,3,4,5]

In [ ]:
value = [1, 2, 3, 4, 5]
print(value)
type(value)

[1, 2, 3, 4, 5]

list

g. (1,2,3,4,5)

In [ ]:
value = (1, 2, 3, 4, 5)
print(value)
type(value)

(1, 2, 3, 4, 5)

tuple

h. { ‘name’: ‘Your_name’ }

In [ ]:
value = {'name': 'Cenndy M. Nieles'}
print(name)

Cenndy M. Nieles

6.) Re-assign the value variable to be equal to 5.

In [ ]:
value = 5
print(value)

5

7. Declare a new variable named value2 to be equal to -6.

In [ ]:
value = 5
value2= -6
print(value + value2)

-1

Performing Operations with Python

In [ ]:
value, value2 = -5.0, 6
print(value + value2)

1.0

1. Using value and value2. Type the command: print(value+value2)

 a. value, value2 = 5.0, 6

In [ ]:
value, value2 = 5.0, 6
print(value + value2)

11.0

b. value, value2 = -5, 6.1

In [ ]:
value, value2 = -5, 6.1
print(value + value2)

1.0999999999999996

c. value, value2 = “Hello”, ‘world’

In [ ]:
value, value2 = "Hello", "world"
print(value + " " + value2)

Hello world

d. value, value2 = [1,2,3], [4,5,6]

In [ ]:
value, value2 = [1, 2, 3], [4, 5, 6]
print(value + value2)

[1, 2, 3, 4, 5, 6]

e. value, value2 = (1,2,3), (4,5,6)

In [ ]:
value, value2 = (1, 2, 3), (4, 5, 6)
print(value + value2)

(1, 2, 3, 4, 5, 6)

f. value, value2 = {"name":"Royce"}, {"age":2}

In [ ]:
value, value2 = {"name": "Royce"}, {"age": 2}

print(value)   # {'name': 'Royce'}
print(value2)  # {'age': 2}

{'name': 'Royce'}
{'age': 2}

3. Using value, value2 = 30, 4. Type the commands:

a. print(value*value2)

In [ ]:

value = 30
value2 = 4

print(value * value2)

120

 b. print(value2**2)

In [ ]:
value2 = 4
print(value2 ** 2)

16

 c. print(value2**3

In [ ]:
value2 = 4
print(value2 ** 3)

64

d. print(value*value2+value2**2+1)

In [ ]:
value2 = 4
print(value2 ** 2+1)

17

e. print(value/value2)

In [ ]:
value = 30
value2 = 4

print(value / value2)

7.5

f. print(value%value2)

In [ ]:
value = 30
value2 = 4
print(value % value2)

2

Assigning Input Data to a Variable

Finding a person’s BMI (metric)

1. Declare a new variable named name and assign it the value input(“Enter your name”)