<a href="https://colab.research.google.com/github/qcnieles-hub/NIELES_CPE009A-OOP/blob/main/Nieles_Statement_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LOOP STATEMENT

# Example 1 (The Break Statement)

In [5]:
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
    print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

# Example 2 (The Break Statement)

In [2]:

week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
    print(x)
    if x=="Thursday":
        break

Sunday
Monday
Tuesday
Wednesday
Thursday

# Example 3 (The Break Statement)

In [39]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

for x in week:
    if x == "Thursday":
        print(x)
        break

Thursday

Challenge for Break Statement in For Loop Statement

In [33]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  if x == "Wednesday":
    break
  print(x)

Sunday
Monday
Tuesday

# Example  4 (Looping Though a String)

In [6]:
for x in "week":
  print(x)

w
e
e
k

The range () Function

In [32]:
for x in range(6):
  print(x)
for x in range(2,6):
  print(x)

0
1
2
3
4
5
2
3
4
5

In [9]:
for x in range(2,2,6):
    print(x)

Nested Loops

In [13]:
adjectives = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjectives:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

 # Example 5 While loop Statement

In [15]:
i = 1
while i < 6:
  print(i)
  i += 1 #i = i+1 Assigment operator

1
2
3
4
5

In [21]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

The Continue Statement

In [ ]:
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [30]:
i = 0
while i < 6:
    i += 1
    if i == 3:
      print(i)
      continue

3

The else Statement

In [31]:
i = 1
while i < 6:
  print(i)

  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6