<a href="https://colab.research.google.com/github/qcnieles-hub/NIELES_CPE009A-OOP/blob/main/Python_Fundamentals_ipyn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
if 5>2:
 print("five is greater than Two")

five is greater than Two

Pyhton Comments

In [9]:
#This is a comments
print("Hello,World")

Hello,World

Pyhton Variable

In [16]:
X = 1
a, b=0,-1
a, b, c=0,-1,2

b= "Sally" #This is a type of string
print(b)

Sally

Casting

In [17]:
b="sally" #This is a type of string
b=int(4)
print(b)

b=float(4)
print(b)

4
4.0

Type() Function

In [18]:
x = 5
y="John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

"Double quotes" or 'Single' qoutes

In [21]:
y= "JOhn"
y= 'John'
print(y)

John

Case sensitive

In [22]:
a = 4
A = "Sally"
#A will not overwrite a

Multiple Variables

In [49]:
x, y, z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Variables

In [50]:
x = y = z = "four"
print(x, y, z)

four four four

Output Variable

In [26]:
x ="enjoying"
print("Pythhon programming is " + x)

Pythhon programming is enjoying

Other way:

In [28]:
x = "Python is"
y ="enjoying"
z = x + y
print(z)

Python isenjoying

Arithmetic Operation

In [29]:
from ast import Yield
x = 5
y = 3
print(x + y)

x=5
y=3
sum=x+y
sum

x = 15
y = 5
print(x*y)

#Addition  " x + y"
#Subtraction " x - y"
#Multiplication " x *y"
#Division " x / y"
#Modulos " x % y"

8

8

Assigment Operator

In [36]:
s = 1
s += 3
print(s)

s = 1
s = s + 3
print(s)





#" = "
x = 5
print(s)


#" += "
s = 3
print(s)


#" -= "
s = 3
print(s)


#" *= "
s = 3
print(s)


#" /= "
s = 3
print(s)


#" %= "
s = 3
print(s)

4
4
4
3
3
3
3

 Comparison Operators

In [39]:
#Equal "x == y"
#Not equal " x !="
#Greater than  "x >= y"
#Less than " x > y"
#Greater than or Equal to "x >= y"
#Less than or Equa to "x  <= y"

t = 1
u = 2
t>u
t<u
t>=u
t<=u
t==u
t!=u

True

Logical Operators

In [42]:
#And  *x < 5 and  x < 10"
print(t < 5 and u < 10)


#0r  *x < 5 or  x < 10"
print( t < 5 or u <  10)


#Not "not(x < 5 and x < 10)"
print(not(t < 5 and u < 10))

True
True
False

Identity Operators

In [43]:
#Is

#Is not "x is not y"

Bitwise Operator

In [48]:
#Given
v = 2

#ADD(&)
V = 1
print(v & 1)

#OR(!)
V = 1
print(v |1)


#XOR(^)
V = 1
print(v ^ 1 )

#NOT(~)
V = 2
print(~v)

#Zero fill left shift (<<)
v = 2
print(v << 1)

#Signed right shift (>>)
v = 2
print(v >> 1 )

0
3
3
-3
4
1